ProyectoPronaca/PronacaDataBridge/Connected Services/WsRp3/ImportacionPesosAries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.approuter.com/connectors/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ln.gesalm.integracion.pronaca.com.ec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="" name="ImportacionPesosAries" targetNamespace="http://www.approuter.com/connectors/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ln.gesalm.integracion.pronaca.com.ec" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://ln.gesalm.integracion.pronaca.com.ec" xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:element name="validarPeso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlFileBase64" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarPesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarPesoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImportacionPesosAriesResponse">
    <wsdl:part name="response" element="tns1:validarPesoResponse" />
  </wsdl:message>
  <wsdl:message name="ImportacionPesosAriesRequest">
    <wsdl:part name="request" element="tns1:validarPeso" />
  </wsdl:message>
  <wsdl:portType name="ImportacionPesosAriesPort">
    <wsdl:operation name="ImportacionPesosAries">
      <wsdl:input message="tns:ImportacionPesosAriesRequest" />
      <wsdl:output message="tns:ImportacionPesosAriesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImportacionPesosAriesBinding" type="tns:ImportacionPesosAriesPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportacionPesosAries">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportacionPesosAriesService">
    <wsdl:port name="ImportacionPesosAriesPort" binding="tns:ImportacionPesosAriesBinding">
      <soap:address location="https://cdcites.pronaca.com/gestionImportacionPesos/AriesDataBridgeTest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>